@font-face {
  font-family: dosvga;
  src: url(../assets/fonts/dosvga.ttf);
}

:root {
  --header-size: 1.25rem;
  --tab-size: 1rem;
  --text-size: 1.25rem;
  --text-size-sm: 1rem;
  --text-color-header: white;
  --text-color-footer: white;
  --text-color: #636363;
  --link-color: blue;
  --info-color: blue;
  --bg-color: blue;
  --bg-color-dark: black;
  --bg-color-content: #d3d3d3;
  --letter-spacing-lg: 0.33rem;
  --line-height-lg: 1.8;
  --line-height-md: 1.2;
  --space-lg: 2rem;
  --space-md: 1rem;
  --space-sm: 0.5rem;
  --border-width: 2px;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: var(--bg-color);
  font-family: dosvga;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header__heading {
  text-align: center;
  color: var(--text-color-header);
  font-size: var(--header-size);
  letter-spacing: var(--letter-spacing-lg);
  line-height: var(--line-height-lg);
  padding: var(--space-md);
}

.header__tabs {
  width: 100%;
  color: var(--text-color-header);
  font-size: var(--tab-size);
  padding-left: var(--space-lg);
  line-height: var(--line-height-lg);
}

.header__tabs-list {
  display: inline-flex;
  list-style-type: none;
  height: 100%;
}

.header__tab {
  padding: var(--space-sm) var(--space-md);
  background-color: var(--bg-color);
}

.header__tab:hover,
.header__tab:focus {
  background-color: var(--bg-color-dark);
  color: var(--text-color-header);
  cursor: pointer;
}

.header__tab:focus {
  outline: none;
}

.header__tab.active {
  background-color: var(--bg-color-content);
  color: var(--bg-color);
}

main {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color-content);
}

.main-content {
  display: flex;
  width: calc(100% - (2 * var(--space-lg)));
  height: calc(100% - (2 * var(--space-lg)));
  margin: var(--space-lg);
}

.main-content-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: var(--space-lg);
}

.main-content:not(.active) {
  display: none;
}

.main-content__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: var(--space-lg);
  color: var(--text-color);
  font-size: var(--text-size-sm);
  border: var(--border-width) solid var(--bg-color);
}

.main-content__column:not(:first-child) {
  border-left: none;
}

.browser-info {
  width: 100%;
  padding: var(--space-lg);
  color: var(--text-color);
  font-size: var(--text-size-sm);
  line-height: var(--line-height-md);
}

.main-content__item h3 {
  font-size: var(--text-size);
  padding-bottom: var(--space-lg);
}

.main-content__item p {
  display: flex;
  justify-content: space-between;
  padding: var(--space-sm) 0;
}

.main-content__box {
  display: flex;
  width: 100%;
}

.info-right-side {
  color: var(--info-color);
}

.links {
  width: 100%;
  padding-top: var(--space-lg);
  color: var(--text-color);
}

.links__row {
  width: 100%;
  padding-top: var(--space-lg);
  font-size: var(--text-size-sm);
}

.links__row a {
  display: flex;
  text-decoration: none;
  padding: var(--space-sm);
}

.links__row a:visited {
  color: var(--link-color);
}

.links__row a:hover {
  background-color: var(--bg-color-dark);
  color: var(--text-color-header);
}

.links__row a:active {
  color: var(--link-color);
  color: var(--text-color-header);
}

.links__row a:focus {
  background-color: var(--bg-color-dark);
  color: var(--text-color-header);
  outline: none;
}

.links__row:nth-child(1) {
  padding-top: var(--space-lg);
}

.links__row {
  list-style-type: none;
  padding-bottom: var(--space-lg);
  display: inline;
}

fieldset {
  height: 100%;
  width: 100%;
  padding: var(--space-sm);
}

fieldset a {
  display: block;
  padding: var(--space-sm);
  text-decoration: none;
  font-size: var(--font-size-sm);
}

fieldset a:visited {
  color: var(--link-color);
}

fieldset a:hover {
  background-color: var(--bg-color-dark);
  color: var(--text-color-header);
}

fieldset a:active {
  color: var(--link-color);
  color: var(--text-color-header);
}

fieldset a:focus {
  background-color: black;
  color: var(--text-color-header);
}

.footer {
  text-align: center;
  font-size: var(--header-size);
  padding: var(--space-md);
  color: var(--text-color-footer);
}

@media (max-width: 680px) {
  .main-content {
    flex-direction: column;
  }

  .main-content__column:not(:first-child) {
    border-top: none;
    border-left: 2px solid var(--bg-color);
  }

  .main-content-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 460px) {
  .main-content-grid {
    grid-template-columns: 1fr;
  }
}
