@font-face {
  font-family: dosvga;
  src: url(../assets/fonts/dosvga.ttf);
}

:root {
  --header-size: 1.25rem;
  --tab-size: 1rem;
  --text-size: 1.25rem;
  --text-size-sm: 1rem;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: white;
  overflow: hidden;
  font-family: dosvga;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: blue;
}

.header-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
}

.header__heading {
  color: white;
  font-size: var(--header-size);
  font-family: dosvga;
  letter-spacing: 0.3rem;
  line-height: 1.35;
}

.tabs {
  width: 100%;
  color: white;
  font-size: var(--tab-size);
  padding-left: 25px;
  overflow-y: hidden;
  line-height: 1.8;
}

.tabs-list {
  display: inline;
  list-style-type: none;
  margin: 0;
  height: 100%;
  float: left;
}

.tabs-list__tab {
  display: inline;
  padding: 20px;
}

.tabs-list__tab:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.tabs-list__tab:focus {
  background-color: black;
  color: white;
  cursor: pointer;
  outline: none;
}

.tabs-list__tab.active {
  background-color: #d3d3d3;
  color: #00f;
}

.body-container {
  width: 100%;
  height: 85%;
  background-color: #d3d3d3;
}

.body-content {
  display: flex;
  width: 100%;
}

.body-content:not(.active) {
  display: none;
}

.body-container__inner {
  display: flex;
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
  border: 2px solid #00f;
  margin: 2rem;
}

.body-content__column {
  width: 50%;
  height: 100%;
  border-left: 2px solid #00f;
  padding: 25px;
  color: #636363;
  font-size: var(--text-size-sm);
}

.browser-info {
  height: 35%;
  width: 100%;
  padding: 25px;
  color: #636363;
  font-size: var(--text-size-sm);
  line-height: 1.2;
}

.content h3 {
  font-size: var(--text-size);
  padding-bottom: 20px;
}

.content p {
  padding-bottom: 15px;
}

.info-right-side {
  right: 52%;
  position: absolute;
  color: #00f;
}

.links {
  width: 100%;
  height: 65%;
  padding-top: 2rem;
  color: #636363;
}

.links h3 {
  font-size: var(--text-size);
}

.links__row {
  width: 100%;
  padding-top: 30px;
  font-size: var(--text-size-sm);
}

.links__row a {
  text-decoration: none;
  display: block;
  padding: 0.75rem;
  width: 30%;
}

.links__row a:visited {
  color: #00f;
}

.links__row a:hover {
  background-color: black;
  color: white;
}

.links__row a:active {
  background-color: #00f;
  color: white;
}

.links__row a:focus {
  background-color: black;
  color: white;
  outline: none;
}

.links__row:nth-child(1) {
  padding-top: 20px;
}

.links__row {
  list-style-type: none;
  padding-bottom: 20px;
  display: inline;
}

.footer-container {
  color: #d3d3d3;
  padding: 12px;
  text-align: center;
  font-size: var(--header-size);
}

fieldset {
  padding: 10px;
  height: 100%;
}

fieldset a {
  display: block;
  padding: 6px;
  text-decoration: none;
  font-size: var(--font-size-sm);
}

fieldset a:visited {
  color: #00f;
}

fieldset a:hover {
  background-color: black;
  color: white;
}

fieldset a:active {
  background-color: #00f;
  color: white;
}

fieldset a:focus {
  background-color: black;
  color: white;
}

.body-content__box {
  width: 45%;
  height: 40%;
  margin: 25px;
  float: left;
}

/* @media screen and (max-width: 980px) {
  #tabs {
    width: 100%;
    height: 40%;
    color: white;
    font-size: 7px;
    padding: 0px;
    font-family: dosvga;
    overflow-y: hidden;
    line-height: 1.8;
  }

  #navigation {
    list-style-type: none;
    margin: 0;
    height: 100%;
  }

  #tabs ul li {
    display: inline;
    padding: 16px;
  }

  .navlist {
    float: left;
  }

  #browser-info {
    height: 35%;
    width: 100%;
    padding: 25px;
    font-family: dosvga;
    color: #636363;
    font-size: 1.2vw;
    line-height: 1.2;
  }

  .info-right-side {
    right: 50%;
    position: absolute;
    color: #00f;
  }

  #footer {
    color: #d3d3d3;
    padding: 6px;
    font-family: dosvga;
    text-align: center;
    font-size: 8px;
  }
} */
