@font-face {
  font-family: dosvga;
  src: url(../assets/fonts/dosvga.ttf);
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: white;
}

#wrapper {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: blue;
  box-shadow: 2px 2px 3px black;
}

#head-wrap {
  width: 100%;
  height: 10%;
}

#header {
  width: 100%;
  height: 60%;
  text-align: center;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

#header h1 {
  color: white;
  font-size: 1.25vw;
  font-family: dosvga;
  letter-spacing: 0.3vw;
  line-height: 1.35;
}

#tabs {
  width: 100%;
  height: 40%;
  color: white;
  font-size: 1.1vw;
  padding-left: 25px;
  font-family: dosvga;
  overflow-y: hidden;
  line-height: 1.8;
}

#navigation {
  list-style-type: none;
  margin: 0;
  height: 100%;
}

#tabs ul li {
  display: inline;
  padding: 20px;
}

#navlist {
  float: left;
}

#navigation li:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

#navigation li:focus {
  background-color: black;
  color: white;
  cursor: pointer;
  outline: none;
}

.active {
  background-color: #d3d3d3;
  color: #00f;
}

#body-wrapper {
  width: 100%;
  height: 85%;
  background-color: #d3d3d3;
}

#body-wrapper-inside {
  width: 97.5%;
  height: 95%;
  border: 2px solid #00f;
  margin: 0 auto;
  transform: translateY(2.5%);
}

#left-categories {
  width: 50%;
  height: 100%;
  float: left;
}

#browser-info {
  height: 35%;
  width: 100%;
  padding: 25px;
  font-family: dosvga;
  color: #636363;
  font-size: 1vw;
  line-height: 1.2;
}

#browser-info h3 {
  font-size: 1.25vw;
  padding-bottom: 20px;
}

.info-right-side {
  right: 52%;
  position: absolute;
  color: #00f;
}

#links {
  width: 100%;
  height: 65%;
  padding: 5%;
  font-family: dosvga;
  color: #636363;
}

#links h3 {
  font-size: 1.25vw;
}

#links-row-1 {
  width: 100%;
  padding-top: 30px;
  font-size: 1.2vw;
}

#links-row-1 li a {
  text-decoration: none;
  display: block;
  padding: 1.5vh;
  width: 30%;
}

#links-row-1 li a:visited {
  color: #00f;
}

#links-row-1 li a:hover {
  background-color: black;
  color: white;
}

#links-row-1 li a:active {
  background-color: #00f;
  color: white;
}

#links-row-1 li a:focus {
  background-color: black;
  color: white;
  outline: none;
}

#links li:nth-child(1) {
  padding-top: 20px;
}

#links li {
  list-style-type: none;
  padding-bottom: 20px;
  display: inline;
}

#right-info {
  width: 50%;
  height: 100%;
  border-left: 2px solid #00f;
  float: right;
  padding: 25px;
  font-family: dosvga;
  color: #636363;
  font-size: 1vw;
}

#right-info h3 {
  font-size: 1.25vw;
  padding-bottom: 20px;
}

#right-info p {
  padding-bottom: 15px;
}

#footer {
  color: #d3d3d3;
  padding: 12px;
  font-family: dosvga;
  text-align: center;
  font-size: 1vw;
}

#main {
  width: 100%;
  height: 100%;
  display: block;
}

#additional {
  width: 100%;
  height: 100%;
  display: none;
}

fieldset {
  padding: 10px;
  height: 100%;
  font-family: dosvga;
}

fieldset a {
  display: block;
  padding: 6px;
  text-decoration: none;
  font-size: 1vw;
}

fieldset a:visited {
  color: #00f;
}

fieldset a:hover {
  background-color: black;
  color: white;
}

fieldset a:active {
  background-color: #00f;
  color: white;
}

fieldset a:focus {
  background-color: black;
  color: white;
}

legend {
  font-family: dosvga;
}

#top-left,
#top-right,
#bottom-left,
#bottom-right {
  width: 45%;
  height: 40%;
  margin: 25px;
  float: left;
}

@media screen and (max-width: 980px) {
  #header h1 {
    color: white;
    font-size: 12px;
    font-family: dosvga;
    letter-spacing: 0.3vw;
    line-height: 1.35;
  }

  #tabs {
    width: 100%;
    height: 40%;
    color: white;
    font-size: 7px;
    padding: 0px;
    font-family: dosvga;
    overflow-y: hidden;
    line-height: 1.8;
  }

  #navigation {
    list-style-type: none;
    margin: 0;
    height: 100%;
  }

  #tabs ul li {
    display: inline;
    padding: 16px;
  }

  .navlist {
    float: left;
  }

  #browser-info {
    height: 35%;
    width: 100%;
    padding: 25px;
    font-family: dosvga;
    color: #636363;
    font-size: 1.2vw;
    line-height: 1.2;
  }

  .info-right-side {
    right: 50%;
    position: absolute;
    color: #00f;
  }

  #footer {
    color: #d3d3d3;
    padding: 6px;
    font-family: dosvga;
    text-align: center;
    font-size: 8px;
  }
}
