@font-face {
  font-family: mechai;
  src: url(../assets/fonts/mechai.ttf);
}

@font-face {
  font-family: prototype;
  src: url(../assets/fonts/Prototype.ttf);
}

@font-face {
  font-family: neutronium;
  src: url(../assets/fonts/Neutronium.ttf);
}

@font-face {
  font-family: venusrising;
  src: url(../assets/fonts/venusrising.ttf);
}

*, html, body{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

body{
  background: url("../images/gundam.jpg") no-repeat center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

#wrapper{
  height: 100%;
  width: 50%;
  padding: 20px;
}

#search_container{
	height: 80px;
	width: 80%;
	top: 0;
  margin: 0 auto;
}

button{
	height: 80%;
	width: 100px;
	color: white;
	font-size: 1em;
	background-color: rgba(0,0,0,.9);
	outline: 0;
	border: 0;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	transition: background-color .2s ease-in-out;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 5px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.24), 0 1px 2px rgba(0, 0, 0, 0.12);
	cursor: pointer;
  font-family: mechai;
}

button:hover{
	background-color: rgba(255,255,255,.95);
	cursor:pointer;
  color: orange;
}

button:active{
	color: white;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	background-color:#22f;
}

.searchform{
	width: 100%;
	height: 60%;
  margin-top: 25px;
  float: left;
}

.searchbar{
	width: 60%;
	height: 80%;
	border: 3px solid rgba(0,0,0,.05);
	color: gray;
	font-size: 1em;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  outline: none;
  font-family: mechai;
}

input[type=text]{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 15px;
	padding-left: 10px;
}

#links_container{
  height: 75%;
  width: 80%;
  margin: 20px;
}

#links_1{
  width: 50%;
  height: 40%;
  float: left;
  background: rgba(0,0,0,.1);
  border-bottom: 3px solid white;
  border-right: 3px solid white;
}

#links_2{
  width: 50%;
  height: 40%;
  float: right;
  border-bottom: 3px solid white;
  border-top-right-radius:  50px;
  background: rgba(0,0,0,.1);
}

#links_3{
  width: 50%;
  height: 40%;
  float: left;
  border-right: 3px solid white;
  border-bottom-left-radius: 50px;
  background: rgba(0,0,0,.1);
}

#links_4{
  width: 50%;
  height: 40%;
  float: right;
  background: rgba(0,0,0,.1);
}

.heading{
  font-family: venusrising;
  text-align: center;
  color: black;
  padding: 10px;
  font-size: 90%;
}

.link{
  text-decoration: none;
  display: block;
  text-align:center;
  padding: 5px;
  font-family: prototype;
  font-size: 85%;
  letter-spacing: 4px;
  color: #27f;
}

.link:hover{
  color: #12f;
}

@media screen and (max-width: 1000px){
  .heading{
    font-size: 75%;
  }

  .link{
    padding: 0;
    font-size: 65%;
    letter-spacing: 0px;
  }
}

@media screen and (max-width: 800px){
  #search_container{
  	height: 80px;
  	width: 100%;
  	top: 0;
    padding-left: 20%;
  }

  button{
  	width: 20%;
    font-size: .9em;
  }

  .searchbar{
  	width: 50%;
  	font-size: .9em;
  }

  .heading{
    font-size: 50%;
  }

  .link{
    padding: 0;
    font-size: 45%;
    letter-spacing: 0px;
  }
}
